* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #c0dfef, #1486bbcb);
}

.cabecalho-menu {
    justify-items: center;
    background-color: #59acd1;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
    display: flex;
}

.lista-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 1rem;
    justify-items: center;
}

.menu-home {
    margin-top: 4rem;
    justify-content: center;
}

.button-menu {
    text-align: center;
    background-color: #59acd1;
    border:#106da3;
    border-radius: 5rem;
}

.button-menu img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.button-quiz {
    text-align: center;
}
