* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #c0dfef, #1486bbcb);
}

.cabecalho-menu {
    justify-items: center;
    background-color: #59acd1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
    display: flex;
}

.lista-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    justify-items: center;
}

.lista-menu button {
    color: #dbe1f4;
    font-weight: bold;
}

.menu-home {
    margin-top: 4rem;
    justify-content: center;
}

.button-menu {
    text-align: center;
    background-color: #59acd1;
    border:#106da3;
    border-radius: 1rem;
}

.button-menu img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

@media (max-width: 375px) {

    .cabecalho-menu {
        height: 7rem;
        border-bottom-left-radius: 50% 100%;
        border-bottom-right-radius: 50% 100%;
    }
    

    .cabecalho-menu img {
        margin-top: 2rem;
        width: 8.5rem;
    }

    .lista-menu button {
        width: 5rem;
        height: 6rem;
        gap: 1rem;
    }

    .lista-menu img {
        width: 3rem;
    }
    
}

@media  (max-width: 414px) {

    .cabecalho-menu {
        height: 10rem;
        border-bottom-left-radius: 50% 100%;
        border-bottom-right-radius: 50% 100%;
    }
    

    .cabecalho-menu img {
        margin-top: 3rem;
        width: 13.5rem;
    }

    .lista-menu button {
        width: 9rem;
        height: 10rem;
        font-size: 1.4rem;
    }

    .lista-menu img {
        width: 7rem;
    }
    
}

@media  (max-width: 540px) {

    .cabecalho-menu {
        height: 10rem;
        border-bottom-left-radius: 50% 100%;
        border-bottom-right-radius: 50% 100%;
    }
    

    .cabecalho-menu img {
        margin-top: 3rem;
        width: 13.5rem;
    }

    .lista-menu button {
        width: 9rem;
        height: 10rem;
        font-size: 1.4rem;
    }

    .lista-menu img {
        width: 7rem;
    }
    
}
